/* AppError */
.error_container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 28px);
    width: 100%;
  }
.error_container h1{
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
}

/* AppLoader */
.loader_container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
    width: 100%;
}
.loader_container h1{
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
}